---
---


$section-headings-color: #333 !default;
$large-breakpoint: 70em !default;

@import "{{ site.theme }}";

// theme base https://github.com/jasonlong/cayman-theme/blob/main/scss/cayman.scss


.main-content h1:first-child
{
    text-align: left;
}